.right   {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 20px;
}
nav {
    border: 10px solid white;
}
body {
    background-color: darkblue;
}
.right:hover {
    color: grey;
    opacity: 0.5px;
}
#pic1 {
    width: 10%;
    border: 10px solid white;
}
#pic2 {
    width: 20%;
    border: 10px solid white;
    top: 50%;
}
.text {
    display: flex;
    color: white;
    justify-content: space-around;
}
.text2 {
    display: flex;
    color: white;
    justify-content: space-around;
}
.group1 {
    background-color: black;
    padding: 10px;
    border: 10px solid white;
    font-size: 25px;
}
.group2 {
    background-color: black;
    padding: 10px;
    border: 10px solid white;
    font-size: 25px;
}